sqlalchemy
asyncpg
psycopg
psycopg-binary
alembic
pydantic
pydantic-settings
sqlmodel
starlette
torch
transformers
accelerate
fastapi
uvicorn
pika
python-jose
uvicorn[standard]
websocket
api-analytics[fastapi]